/* Estilos generales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
}

/* Estilos del encabezado */
.header {
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 20px;
}

.header h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

.header p {
    font-size: 16px;
}

/* Estilos de la barra de navegación */
.navbar {
    display: flex;
    background-color: #333;
    overflow: hidden;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
    text-align: center;
    transition: background-color 0.3s;
}

.navbar a:hover {
    background-color: #0056b3;
}

/* Estilos del contenido principal */
.main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    padding: 20px;
}

.card {
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
    text-align: center;
    height: 490px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
}

.card h3 {
    font-size: 20px;
    margin: 15px 0;
}

.card p {
    font-size: 14px;
    color: #555;
    padding: 0 15px;
    margin-bottom: 15px;
}

.boton {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
    width: 100%; /* Añadido para ocupar el ancho completo */
}

.boton:hover {
    background-color: #0056b3;
}

/* Estilos del pie de página */
.footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

.footer a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.footer a:hover {
    color: #0056b3;
}

.separator {
    margin: 0 10px;
    color: #ddd;
}